*{
  margin: 0;
  padding: 0;
}
ul,ol,dl{
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
a{
  text-decoration: none;
  color: #000;
}
.App {
  text-align: center;
}
.main_banner{
  width: 100%;
  height: 100vh;
  background-image: url('../public/img/banner2.webp');
  background-size: cover;
  background-position: center;
  margin-bottom: 105px;
}
.item-img{
  width: 80%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 메뉴 부분 */
.logo{
  width: 100px;
  height: 60px;
}
.utillMenu{
  background: #f0f0f0;
}
.utillMenu ul{
  display: flex;
  justify-content: end;
  padding-right: 50px;
}
.utillMenu ul li a{
  display: block;
  line-height: 15px;
  font-size: 12px;
  margin: 10px 0 10px 0;
  font-weight: 600;
  padding: 0 15px 0 15px;
}
.utillMenu ul li:nth-child(1) a,
.utillMenu ul li:nth-child(2) a,
.utillMenu ul li:nth-child(3) a{
  border-right: 1px solid #000;
}
.navbar>.container-fluid{
  width: 1650px;
  margin: 0 auto;
  /* padding: 0 65px; */
}
.navbar-expand-lg .navbar-nav{
  margin: 0 auto;
  width: 100%;
  max-width: 475px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  padding: 0;
  height: 100%;
}
.nav-link{
  width: 110px;
}
.navText{
  color: #111 !important;
  font-size: 15px;
  font-weight: 500;
}
.logo svg.pre-logo-svg:hover{
  color: #8d8d8d;
}
/* 검색창 */
#searchForm svg{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  color: #000;
}
.d-flex{
  position: relative;
  width: 90%;
}
.form-control{
  background-color: #f0f0f0;
  border-radius: 50px;
  border: none;
}
.form-control:hover{
  background-color: #e5e5e5;
}
.form-control:focus{
  border-color: transparent;
  box-shadow: none;
}

.btn:hover{
  border-radius: 50%;
  background: #e5e5e5;
}
.btn-outline-success{
  --bs-btn-border-color: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.me-2{
  margin-right: 0 !important;
}
#searchForm input{
  padding: 6px 0 6px 50px;
}

/* 좋아요, 장바구니 아이콘 */
.likeIcon ul{
  display: flex;
  gap: 15px;
}
.likeIcon ul li{}
.likeIcon ul li a{
  display: block;
  padding: 5px;
  border-radius: 50%;
}
.likeIcon ul li a:hover{
  background: #e5e5e5;
  color: #000;
}

/* 소식 배너 부분 */
.carousel{
  background: #f0f0f0;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}
.carousel-item{
  transition: transform 3s ease-in-out;
}
.bannerTit h4{
  font-size: 0.85em;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}
.bannerTit ul li a{
  display: block;
  font-size: 0.7em;
  text-decoration: underline;
  line-height: 20px;
  margin-bottom: 4px;
}
.carousel-control-next, .carousel-control-prev{
  z-index: 0 !important;
}
/* 배너 네비게이션 아이콘 */
.carousel-indicators{
  display: none;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 1rem;
  height: 1rem;
}

/* 메인페이지 이벤트 텍스트 부분 1 */
#cardGroup{
  border: none;
  margin-bottom: 125px;
}
#cardGroup .cardTit01{
  font-size: 0.95em;
  font-weight: 600;
}
#cardGroup .cardTit02{
  font-size: 3em;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 45px;
}
#cardGroup .cardSubTit{
  font-size: 0.93em;
  line-height: 26px;
  font-weight: 600;
}
#cardGroup .linkBtns{
  display: flex;
  justify-content: center;
  padding: 45px 0 45px 0;
}
#cardGroup .linkBtns .btns01{
  display: block;
  padding: 10px 25px;
  background: #111;
  color: #fff;
  font-size: 0.9em;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}
#cardGroup .linkBtns .btns01:hover{
  background: #757575;
}
#cardGroup .linkBtns .btns02{
  display: block;
  padding: 10px 25px;
  background: #111;
  color: #fff;
  font-size: 0.9em;
  border-radius: 30px;
  transition: 0.3s;
  font-weight: 600;
}
#cardGroup .linkBtns .btns02:hover{
  background: #757575;
}

/* 신발 상품 배너 부분 */
#shoesCards{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
#shoesCards .shoesBanner{
  width: 100%;
  height: 900px;
  background-image: url('../public/img/banner3.webp');
  background-size: cover;
}
#shoesGroup{
  border: none;
  margin-bottom: 75px;
  padding-top: 80px;
}
#shoesGroup .shoesTit01{
  font-size: 0.95em;
  font-weight: 600;
  margin-bottom: 20px;
}
#shoesGroup .shoesTit02{
  font-size: 3em;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 45px;
}
#shoesGroup .shoesSubTit{
  font-size: 0.93em;
  line-height: 26px;
  font-weight: 600;
}
#shoesGroup .shoesBtns{
  display: flex;
  justify-content: center;
  padding: 45px 0 45px 0;
}
#shoesGroup .shoesBtns .btns{
  display: shoesBtns;
  padding: 10px 25px;
  background: #111;
  color: #fff;
  font-size: 0.9em;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}
#shoesGroup .shoesBtns .btns:hover{
  background: #757575;
}
#shoesGroup .shoesText{
  padding: 0;
}


/* 메인 상품 배너 */
.productBanner{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 150px 0 85px 0;
}
.productBanner .productImg{
  background-image: url('../public/img/product_banner01.webp');
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
}
.productBanner .productImg2{
  background-image: url('../public/img/product_banner02.webp');
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
}
.productBanner .card-group{
  gap: 25px;
}
.productBanner h2{
  text-align: left;
  font-size: 1.9em;
  margin-bottom: 25px;
}
.productBanner .card-body{
  position: absolute;
  width: 45%;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 16px 16px 50px 50px;
}
.productBanner .card-title{
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
}
.productBanner .okBtn{
  display: block;
  font-size: 0.8em;
  padding: 7px 5px;
  width: 85px;
  text-align: center;
  background: #fff;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
}
.productBanner .okBtn:hover{
  background: #b2b2b2;
  color: #111;
}
.productBanner .card{
  border: none;
  --bs-card-inner-border-radius: none;
  border-color: transparent;
}

/* 상품 슬라이드 부분  */
#productContainer .swiper {
  width: 100%;
  /* height: 100%; */
}

#productContainer .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#productContainer .swiper-wrapper{
  height: 765px !important;
  align-items: center;
}
#productContainer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#productContainer .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  top: 93% !important;
  background: #ebebeb;
  height: 5px;
}
#productContainer .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  top: -3px;
  width: 100%;
  height: 11px;
  background: #8c8c8c;
}

#productContainer .swiper-button-prev{
  left: 94%;
  top: 3%;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e5e5e5;
  transition: 0.4s;
}
#productContainer .swiper-button-next{
  position: absolute;
  right: 0;
  top: 3%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e5e5e5;
  transition: 0.4s;
}
#productContainer .swiper-button-next:hover,
#productContainer .swiper-button-prev:hover{
  background: #ccc;
}
#productContainer .swiper-button-next:after,
#productContainer .swiper-button-prev:after{
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #111;
}

#productContainer{
  width: 100%;
  height: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
#productContainer .itemSlide h3{
  text-align: left;
  font-size: 1.9em;
}
#productContainer .titGroup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
#productContainer .itemTit{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#productContainer .itemTit h4,
#productContainer .itemTit h5{
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}
#productContainer .titGroup p{
  font-size: 14px;
  color: #757575;
}

.container{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
.container .item-img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.container .col-md-4{
  padding-left: 0;
}

/* 나이키 커뮤니티 부분 */
#nikeComu{
  padding: 95px 0;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
#nikeComu h2{
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 25px;
  font-weight: 600;
}
#nikeComu .widthImg{
  /* height: 675px; */
  border: none;
}
#nikeComu .card-group{
  gap: 10px;
}
#nikeComu .card-group>.card:not(:last-child){
  align-items: baseline;
}
#nikeComu .nikeImg1{
  background-image: url('../public/img/nike00.webp');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
#nikeComu .nikeImg2{
  background-image: url('../public/img/nike01.webp');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
#nikeComu .nikeImg3{
  background-image: url('../public/img/nike02.webp');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
#nikeComu .nikeCard{
  text-align: left;
  padding: 0;
}
#nikeComu .nikeBtn{
  display: block;
  padding: 8px 8px;
  width: 105px;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 800;
  transition: 0.3s;
}
#nikeComu .nikeBtn:hover{
  background: #757575;
}
#nikeComu .nikeTit{
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 22px;
}
#nikeComu .nikeSubTit{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

/* 옷 설명 부분 */
#clothesGroup{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 100px 0 75px 0;
}
#clothesGroup h2{
  text-align: left;
  font-size: 1.9em;
  margin-bottom: 25px;
}
#clothesGroup .proGroup{
  width: 100%;
  height: 500px;
}
#clothesGroup .clothesImg01{
  width: 100%;
  height: 100%;
  background-image: url('../public/img/nikePro00.webp');
  background-size: cover;
  position: relative;
}
#clothesGroup .clothesImg02{
  width: 100%;
  height: 100%;
  background-image: url('../public/img/nikePro01.webp');
  background-size: cover;
  position: relative;
}
#clothesGroup .clothesImg03{
  width: 100%;
  height: 100%;
  background-image: url('../public/img/nikePro02.webp');
  background-size: cover;
  position: relative;
}
#clothesGroup .clothesCard{
  position: absolute;
  bottom: 10px;
  left: 18px;
}
#clothesGroup .clothesTit{
  /* font-size: 1em; */
  font-weight: 600;
  color: #fff;
}
#clothesGroup .card-group{
  gap: 10px;
}

/* 상세페이지 부분 */
.proWrap{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0 130px 0;
}
.proWrap .produFlex{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.proWrap .proIndex{
  width: 55%;
}
.proWrap .proIndex .image{
  border-radius: 10px;
}
.proWrap .proIndex2{
  width: 40%;
  text-align: left;
  margin-top: -45px;
}
.proWrap .proIndex2 h4{
  font-size: 25px;
  font-weight: 600;
}
.proWrap .proIndex2 .proType{
  font-size: 15px;
  color: #992d00;
  font-weight: 800;
  line-height: 20px;
}
.proWrap .proIndex2 .proTypePrice{
  font-size: 17px;
  font-weight: 600;
}

/* 사이즈 선택 */
#size{
  margin-top: 28px;
}
#size .sizeClick{
  margin: 15px 0;
}
#size .sizeGroup{
  display: flex;
  gap: 5px;
}
#size .sizeBtn{
  padding: 13px 28px;
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #111;
}
#size .sizeBtn:hover{
  border-color: #111;
}
#size .sizeClick > ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* 주문 버튼 */
#orderBtn{
  margin: 15px 0;
}
#orderBtn .buyBtn{
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background: #111;
  border: none;
  font-weight: 800;
}
#orderBtn .buyBtn:hover{
  background: #707072;
}

#orderBtn .buyBtn2{
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background: #fff;
  color: #111;
  font-weight: 800;
  border-color: #cacacb;
}
#orderBtn .buyBtn2:hover{
  border-color: #111;
}
#orderBtn ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* 상품 추가 설명 부분 */
#plusInfo .pInfo{
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
}
#plusInfo ul{
  list-style: inside;
}
#plusInfo ul li{
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
}

/* 상품 상세 모달 팝업 부분 */
#modalPop{
  margin: 15px 0;
}
#modalPop button{
  border: none;
  background: transparent;
  padding-bottom: 1px;
  border-bottom: 1px solid #111;
  font-size: 13px;
  font-weight: 600;
}
#modalPop button:hover{
  color: #707072;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
  background: rgba(0, 0, 0, 0.7) !important;
}
.ReactModal__Content--after-open{
  width: 900px;
  height: 600px;
  margin: auto;
  padding: 30px !important;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open::after{
  content: '\e921';
  font-family: xeicon;
  position: absolute;
  top: 17%;
  right: 24%;
  color: #fff;
  font-size: 22px;
}
.infoGroup h2{
  font-size: 16px;
  font-weight: 800;
}
.infoGroup p{
  margin-bottom: 0;
  line-height: 23px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}
.infoGroup{
  margin-bottom: 25px;
}


/* 주문 상세 설명 아코디언 부분 */
#accInfo{
  margin-top: 35px;
}
#accInfo .accordion-item:first-of-type{
  border: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}
#accInfo .accordion-item:last-of-type .accordion-button.collapsed{
  border: none;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  padding: 20px 5px;
  font-size: 15px;
  font-weight: 700;
}
#accInfo .accordion-item:first-of-type .accordion-button{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 20px 5px;
  font-size: 15px;
  font-weight: 700;
}
#accInfo .accordion-item:last-of-type{
  border: none;
}
#accInfo .accordion-button:not(.collapsed){
  color: #111;
  background: transparent;
  padding: 20px 5px;
  font-size: 15px;
  font-weight: 700;
}
#accInfo .accordion-button:focus{
  box-shadow: none;
}
#accInfo .accordion-item:last-of-type .accordion-collapse{
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}
#accInfo .boxGroup > ul > li{
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
}
#accInfo .boxGroup > ul > li strong{
  text-decoration: underline;
  font-weight: 800;
}
#accInfo .sizeBody{
  font-size: 15px;
  font-weight: 500;
}



/* 상품 상세페이지 부분 */
#proImgInfo .cardGroup{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
#proImgInfo .card{
  border: none;
}
#proImgInfo .card-img, .card-img-top{
  border-radius: 0;
}
#proImgInfo .card-body .card-title{
  font-size: 25px !important;
  font-weight: 600 !important;
}
#proImgInfo .card-body{
  padding: 65px 0;
}
#proImgInfo .card-text:last-child{
  font-size: 16px;
  margin-top: 23px;
  font-weight: 500;
}
#proImgInfo h2{
  font-size: 30px;
  margin-bottom: 100px;
  padding-top: 60px;
  border-top: 1px solid #e5e5e5;
}


/* 상품 리스트 부분 */
#aboutProduct .container{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
#aboutProduct .container .row{
  grid-row-gap: 15px;
}
#productList{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 55px;
}
.filter{
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  padding-top: 30px;
}
.filter ul{
  display: flex;
  gap: 20px;
  justify-content: right;
  padding-right: 15px;
}
.filter ul li{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
}
.filter ul .xi-tune{
  font-size: 18px;
}
.filter ul .xi-angle-down-min{
  font-size: 20px;
}
#productList .col-md-4 h4{
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
}
#productList .col-md-4 p{
  font-size: 14px;
  color: #992d00;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
}
#productList .accordion-item:first-of-type .accordion-button{
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
}
#productList .accordion-item:first-of-type{
  border-radius: 0;
  border: none;
  border-top: 1px solid #e5e5e5;
  /* border-bottom: 1px solid #e5e5e5; */
}
#productList .accordion-item:last-of-type{
  border-radius: 0;
}
#productList .listMav{
  text-align: left;
}
#productList .accordion-button{
  padding: 20px 0 !important;
  font-size: 14px;
  font-weight: 700;
}
#productList .accordion-body{
  padding: 20px 5px;
}
#productList .accordion-item:not(:first-of-type){
  border: none;
  border-top: 1px solid #e5e5e5;
  /* border-bottom: 1px solid #e5e5e5; */
}
#productList .accordion-item:nth-child(4){
  border-bottom: 1px solid #e5e5e5;
}
#productList .accordion-button:not(.collapsed){
  color: #111;
  background: #fff;
}
#productList .accordion-button:focus{
  box-shadow: none;
}
#productList .subMenu1 ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
#productList .ulNav{
  display: block;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}
#productList .ulNav:hover{
  background: #992d00;
  border-radius: 5px;
  color: #fff;
  padding-left: 5px;
}
#productList .listMav h4{
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 600;
}
#productList .accordion-body ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#productList .accordion-body .subN1{
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  transition: 0.3s;
}
#productList .accordion-body .subN1:hover{
  background: #ccc;
  border-radius: 5px;
  color: #fff;
  padding-left: 5px;
}
.number{
  width: 100%;
}
.number ul{
  width: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  align-items: flex-start;
}
.number .num{
  font-size: 20px;
}
.xi-angle-left-min,
.xi-angle-right-min{
  font-size: 25px;
  padding: 3px 0;
}
.xi-angle-left-min:hover,
.xi-angle-right-min:hover{
  color: #ccc;
}


/* 커뮤니티 부분 */
.clickNav{
  padding: 50px 0;
}
.clickNav .navClickBtn{
  display: block;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 30px;
  font-weight: 500;
  color: #fff;
  background: #111;
}
.clickNav .navClickBtn:hover{
  background: #707072;
}
.clickNav > ul{
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0 auto;
}
/* 커뮤니티 소개 부분 */
.comTit{
  margin-top: 100px;
}
.comTit h2{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}
.comTit p{
  font-size: 16px;
  font-weight: 500;
  color: #6c757d;
}


/* 고객센터 부분 */
#customer{
  padding-top: 80px;
}
#customer .container{
  padding-bottom: 25px;
}
#customer .search{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 25px 0;
}
#customer .search .mb-3{
  margin-bottom: 0 !important;
}
#customer .form-control{
  background: transparent;
  border: 1px solid #bbbbbb;
}
#customer .form-control:hover{
  border-color: #111;
}
#customer .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating){
  border-radius: 5px;
  height: 50px;
}
#customer .input-group-text{
  position: absolute;
  top: 5px;
  right: 4px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  transition: 0.7s;
}
#customer .input-group-text:hover{
  background: #f0f0f0;
}
#customer .xi-search{
  font-size: 18px;
  color: #757575;
}
/* 고객센터 QNA 부분 */
#customerQna .qnaWrap{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#customerQna .card{
  border: none;
}
#customerQna .card-body{
  text-align: left;
}
#customerQna .card-title.h5{
  font-weight: 600;
  font-size: 22px;
}
#customerQna .mb-2.text-muted.card-subtitle.h6{
  margin-top: 10px;
  font-size: 15px;
}
#customerQna .accordion-item:first-of-type .accordion-button{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#customerQna .accordion-button:focus{
  border-color: transparent;
  box-shadow: none;
}
#customerQna .accordion-button:not(.collapsed){
  background-color: #fff;
}
#customerQna .accordion-item:first-of-type{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-top: 1px solid #ccc;
}
#customerQna .accordion-item:not(:first-of-type){
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ccc;
  border-bottom: 0;
}
#customerQna .accordion-item:last-of-type .accordion-button.collapsed{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #ccc;
}
#customerQna .accordion-body{
  text-align: left;
}
#customerQna .accordion-button{
  font-size: 14px;
  font-weight: 600;
  padding: 20px 15px;
}
#customerQna .qnas{
  display: block;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
}
#customerQna .accordion-button:not(.collapsed){
  color: #111;
}
#customerQna .qnas:hover{
  text-decoration: underline;
  color: #6c757d;
}
/* input::placeholder{
  font-size: 15px;
  color: #6c757d;
} */


/* 스타일 가이드 부분 */
#styleGroup{
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  gap: 100px;
  padding: 75px 0;
}
#styleGroup .container{
  padding-right: 100px;
  padding-left: 0;
  border-right: 1px solid #ccc;
}
#styleGroup .cardUl{
  text-align: left;
}
#styleGroup .iconGroup .card-group{
  flex-flow: column wrap;
  gap: 20px;
}
#styleGroup .stCards .card{
  border: none;
}
#styleGroup > .card-body{
  text-align: left;
}
#styleGroup .card-body ul{
  margin: 25px 0;
}
#styleGroup .card-body ul li{
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
}
#styleGroup .cardUl .card-title{
  font-size: 25px;
  font-weight: 600;
}
#styleGroup .sizeBtn{
  display: block;
  padding: 10px 9px;
  width: 150px;
  text-align: center;
  background: #111;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 14px;
}
#styleGroup .stCardImg{
  margin-top: 30px;
  padding: 0 17px;
}
#styleGroup .card-img{
  border-radius: 0;
}
#styleGroup strong{
  text-decoration: underline;
}

.card-group>.card:not(:last-child){
  border: none;
  align-items: center;
  gap: 20px;
}
.iconGroup .iconInfo{
  text-align: center !important;
}
img.card-img-top.imgs{
  max-width: 85px;
  max-height: 85px;
}
.iconGroup .iconInfo .card-title{
  font-size: 15px;
  font-weight: 600;
}
.iconGroup .ulGroup{
  margin: 5px 0 !important;
}
.iconGroup .card-group>.card:not(:first-child){
  border: none;
  align-items: center;
}
/* 좋아요 설명 부분 */
#flex{
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.likeGroup{
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: start;
  gap: 50px;
}
.likeGroup .lickCard{
  text-align: left;
}
.likeGroup .likebtn{
  display: flex;
  width: 140px;
  justify-content: left;
  gap: 20px;
  padding-top: 15px;
}
.likeGroup .likebtn .goodBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.likeGroup .lickCard .infoFlex{
  list-style: inside;
  margin-top: 15px;
}
.likeGroup .goodBtn .likeIconBtn1,
.likeGroup .goodBtn .likeIconBtn2{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f5f5f5;
  position: relative;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.likeGroup .goodBtn .likeIconBtn1:hover,
.likeGroup .goodBtn .likeIconBtn2:hover{
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.likeGroup .goodBtn .likeIconBtn1::after{
  content: "👍";
  display: block;
  position: absolute;
  top: 15px;
  left: 17px;
  font-size: 20px;
}
.likeGroup .goodBtn .likeIconBtn2::after{
  content: "👎";
  display: block;
  position: absolute;
  top: 15px;
  left: 17px;
  font-size: 20px;
}
.likeGroup .lickCard .card{
  border: none;
}
.likeGroup .lickCard .card-title{
  font-size: 18px;
  font-weight: 600;
}
.likeGroup .lickCard .text-muted{
  font-size: 14px;
  margin-top: 15px;
}
.likeGroup .infoFlex .howInfo{
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  text-decoration: underline;
}
.likeGroup .infoFlex .howInfo:hover{
  color: #707072;
}

/* 푸터 부분 */
#footer{
  background: #111;
  margin-top: 100px;
}
#footer .footerWrap{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 35px 0 20px 0;
}
#footer .d-flex{
  width: 100%;
  text-align: left;
}
#footer .footerUtill{
  padding-bottom: 12px;
  border-bottom: 1px solid #7e7e7e;
}
#footer .newInfo{
  width: 70%;
}
#footer .newInfo li{
  width: 36%;
}
#footer .newInfo .col01{
  gap: 13px;
}

#footer .newInfo .col01 .infoMa_Tit{
  display: block;
  color: #fff;
  font-size: 15px;
}
#footer .newInfo .col01 .infoSub_Tit{
  display: block;
  color: #7e7e7e;
  font-size: 13px;
}
#footer .newInfo .col01 .infoSub_Tit:hover{
  color: #fff;
}

#footer .info01{
  gap: 30px;
}
#footer .info01 .kr svg{
  margin-right: 10px;
}
#footer .info01 .kr{
  color: #fff;
}
#footer .info01 li{
  font-size: 13px;
  color: #7e7e7e;
}
#footer .info02{
  gap: 20px;
}
footer .info02 .foNav{
  color: #7e7e7e;
}
footer .info02 .foNav:hover{
  color: #fff;
}
footer .info02 .foNav2{
  color: #fff;
}
#footer .info02 li{
  font-size: 13px;
}
#footer .snsFlex{
  gap: 20px;
}
#footer .snsFlex li svg{
  transition: 0.6s;
}
#footer .snsFlex li:hover svg{
  fill: #fff;
}
#footer .callGroup{
  gap: 20px;
}
#footer .callGroup .nikeInfo li{
  color: #7e7e7e;
}
#footer .callGroup .nikeInfo li strong{
  color: #fff;
  text-decoration: underline;
  opacity: 0.7;
}
#footer .callGroup .nikeInfo li strong:hover{
  opacity: 1;
}
#footer .footerInfo03 .nikeInfo{
  margin-top: 20px;
  gap: 8px;
}
#footer .footerInfo03 .nikeInfo li{
  font-size: 13px;
  line-height: 22px;
}

