*{
  margin: 0;
  padding: 0;
}
ul,ol,dl{
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
a{
  text-decoration: none;
  color: #000;
}
.App {
  text-align: center;
}
.main_banner{
  width: 100%;
  height: 100vh;
  background-image: url('../public/img/banner2.webp');
  background-size: cover;
  background-position: center;
  margin-bottom: 105px;
}
.item-img{
  width: 80%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 메뉴 부분 */
.logo{
  width: 100px;
  height: 60px;
}
.utillMenu{
  background: #f0f0f0;
}
.utillMenu ul{
  display: flex;
  justify-content: end;
  padding-right: 50px;
}
.utillMenu ul li{}
.utillMenu ul li a{
  display: block;
  line-height: 15px;
  font-size: 12px;
  margin: 10px 0 10px 0;
  font-weight: 600;
  padding: 0 15px 0 15px;
}
.utillMenu ul li:nth-child(1) a,
.utillMenu ul li:nth-child(2) a,
.utillMenu ul li:nth-child(3) a{
  border-right: 1px solid #000;
}
.navbar>.container-fluid{
  width: 1650px;
  margin: 0 auto;
  /* padding: 0 65px; */
}
.navbar-expand-lg .navbar-nav{
  margin: 0 auto;
  width: 100%;
  max-width: 475px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  padding: 0;
  height: 100%;
}
.nav-link{
  width: 95px;
}
.navText{
  color: #111 !important;
  font-size: 15px;
  font-weight: 500;
}
.logo svg.pre-logo-svg:hover{
  color: #8d8d8d;
}
/* 검색창 */
#searchForm{}
#searchForm{}
#searchForm svg{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  color: #000;
}
.d-flex{
  position: relative;
  width: 90%;
}
.form-control{
  background-color: #f0f0f0;
  border-radius: 50px;
  border: none;
}
.form-control:hover{
  background-color: #e5e5e5;
}
.form-control:focus{
  border-color: transparent;
  box-shadow: none;
}

.btn:hover{
  border-radius: 50%;
  background: #e5e5e5;
}
.btn-outline-success{
  --bs-btn-border-color: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.me-2{
  margin-right: 0 !important;
}
#searchForm input{
  padding: 6px 0 6px 50px;
}
/* 좋아요, 장바구니 아이콘 */
.likeIcon{

}
.likeIcon ul{
  display: flex;
  gap: 15px;
}
.likeIcon ul li{}
.likeIcon ul li a{
  display: block;
  padding: 5px;
  border-radius: 50%;
}
.likeIcon ul li a:hover{
  background: #e5e5e5;
  color: #000;
}
.likeIcon{}
.likeIcon{}

/* 소식 배너 부분 */
.carousel{
  background: #f0f0f0;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
}
.carousel-item{
  transition: transform 3s ease-in-out;
}
.bannerTit h4{
  font-size: 0.85em;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}
.bannerTit ul li a{
  display: block;
  font-size: 0.7em;
  text-decoration: underline;
  line-height: 20px;
  margin-bottom: 4px;
}
.carousel-control-next, .carousel-control-prev{
  z-index: 0 !important;
}
/* 배너 네비게이션 아이콘 */
.carousel-indicators{
  display: none;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 1rem;
  height: 1rem;
}

/* 메인페이지 이벤트 텍스트 부분 1 */
#cardGroup{
  border: none;
  margin-bottom: 125px;
}
#cardGroup .cardTit01{
  font-size: 0.95em;
  font-weight: 600;
}
#cardGroup .cardTit02{
  font-size: 3em;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 45px;
}
#cardGroup .cardSubTit{
  font-size: 0.93em;
  line-height: 26px;
  font-weight: 600;
}
#cardGroup .linkBtns{
  display: flex;
  justify-content: center;
  padding: 45px 0 45px 0;
}
#cardGroup .linkBtns .btns01{
  display: block;
  padding: 10px 25px;
  background: #111;
  color: #fff;
  font-size: 0.9em;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}
#cardGroup .linkBtns .btns01:hover{
  background: #757575;
}
#cardGroup .linkBtns .btns02{
  display: block;
  padding: 10px 25px;
  background: #111;
  color: #fff;
  font-size: 0.9em;
  border-radius: 30px;
  transition: 0.3s;
  font-weight: 600;
}
#cardGroup .linkBtns .btns02:hover{
  background: #757575;
}
#cardGroup{}

/* 신발 상품 배너 부분 */
#shoesCards{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
#shoesCards .shoesBanner{
  width: 100%;
  height: 900px;
  background-image: url('../public/img/banner3.webp');
  background-size: cover;
}
#shoesGroup{
  border: none;
  margin-bottom: 100px;
  padding-top: 50px;
}
#shoesGroup .shoesTit01{
  font-size: 0.95em;
  font-weight: 600;
}
#shoesGroup .shoesTit02{
  font-size: 3em;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 45px;
}
#shoesGroup .shoesSubTit{
  font-size: 0.93em;
  line-height: 26px;
  font-weight: 600;
}
#shoesGroup .shoesBtns{
  display: flex;
  justify-content: center;
  padding: 45px 0 45px 0;
}
#shoesGroup .shoesBtns .btns{
  display: shoesBtns;
  padding: 10px 25px;
  background: #111;
  color: #fff;
  font-size: 0.9em;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}
#shoesGroup .shoesBtns .btns:hover{
  background: #757575;
}
#shoesGroup .shoesText{
  padding: 0;
}


/* 메인 상품 배너 */
.productBanner{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 150px 0 85px 0;
}
.productBanner .productImg{
  background-image: url('../public/img/product_banner01.webp');
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
}
.productBanner .productImg2{
  background-image: url('../public/img/product_banner02.webp');
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
}
.productBanner .card-group{
  gap: 25px;
}
.productBanner h2{
  text-align: left;
  font-size: 1.9em;
  margin-bottom: 25px;
}
.productBanner .card-body{
  position: absolute;
  width: 45%;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 16px 16px 50px 50px;
}
.productBanner .card-title{
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
}
.productBanner .okBtn{
  display: block;
  font-size: 0.8em;
  padding: 7px 5px;
  width: 85px;
  text-align: center;
  background: #fff;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
}
.productBanner .okBtn:hover{
  background: #b2b2b2;
  color: #111;
}
.productBanner .card{
  border: none;
  --bs-card-inner-border-radius: none;
  border-color: transparent;
}

/* 상품 슬라이드 부분  */
#productContainer .swiper {
  width: 100%;
  /* height: 100%; */
}

#productContainer .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#productContainer .swiper-wrapper{
  height: 765px !important;
  align-items: center;
}
#productContainer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#productContainer .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  top: 93% !important;
  background: #ebebeb;
  height: 5px;
}
#productContainer .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  top: -3px;
  width: 100%;
  height: 11px;
  background: #8c8c8c;
}

#productContainer .swiper-button-prev{
  left: 94%;
  top: 3%;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e5e5e5;
  transition: 0.4s;
}
#productContainer .swiper-button-next{
  position: absolute;
  right: 0;
  top: 3%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e5e5e5;
  transition: 0.4s;
}
#productContainer .swiper-button-next:hover,
#productContainer .swiper-button-prev:hover{
  background: #ccc;
}
#productContainer .swiper-button-next:after,
#productContainer .swiper-button-prev:after{
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #111;
}


#productContainer{
  width: 100%;
  height: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

#productContainer .row{}
#productContainer .itemSlide{}
#productContainer .itemSlide h3{
  text-align: left;
  font-size: 1.9em;
}
#productContainer .titGroup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
#productContainer .itemTit{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#productContainer .itemTit h4,
#productContainer .itemTit h5{
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

#productContainer .titGroup p{
  font-size: 14px;
  color: #757575;
}


.container{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
.container .item-img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.container .col-md-4{
  padding-left: 0;
}

/* 나이키 커뮤니티 부분 */
#nikeComu{
  padding: 95px 0;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
#nikeComu h2{
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 25px;
  font-weight: 600;
}
#nikeComu .widthImg{
  height: 675px;
  border: none;
}
#nikeComu .card-group{
  gap: 10px;
}
#nikeComu .nikeImg1{
  background-image: url('../public/img/nike00.webp');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
#nikeComu .nikeImg2{
  background-image: url('../public/img/nike01.webp');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
#nikeComu .nikeImg3{
  background-image: url('../public/img/nike02.webp');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
#nikeComu .nikeCard{
  text-align: left;
  padding: 0;
}
#nikeComu .nikeBtn{
  display: block;
  padding: 8px 8px;
  width: 105px;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 800;
  transition: 0.3s;
}
#nikeComu .nikeBtn:hover{
  background: #757575;
}
#nikeComu .nikeTit{
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 22px;
}
#nikeComu .nikeSubTit{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

/* 옷 설명 부분 */
#clothesGroup{
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 100px 0 75px 0;
}
#clothesGroup h2{
  text-align: left;
  font-size: 1.9em;
  margin-bottom: 25px;
}
#clothesGroup .proGroup{
  width: 100%;
  height: 500px;
}
#clothesGroup .clothesImg01{
  width: 100%;
  height: 100%;
  background-image: url('../public/img/nikePro00.webp');
  background-size: cover;
  position: relative;
}
#clothesGroup .clothesImg02{
  width: 100%;
  height: 100%;
  background-image: url('../public/img/nikePro01.webp');
  background-size: cover;
  position: relative;
}
#clothesGroup .clothesImg03{
  width: 100%;
  height: 100%;
  background-image: url('../public/img/nikePro02.webp');
  background-size: cover;
  position: relative;
}
#clothesGroup .clothesCard{
  position: absolute;
  bottom: 10px;
  left: 18px;
}
#clothesGroup .clothesTit{
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
#clothesGroup .card-group{
  gap: 10px;
}

/* 상세페이지 부분 */
.proWrap{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}
.proWrap .produFlex{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.proWrap .proIndex{
  width: 55%;
}
.proWrap .proIndex2{
  width: 40%;
  text-align: left;
  margin-top: -45px;
}
.proWrap .proIndex2 h4{
  font-size: 25px;
  font-weight: 600;
}
.proWrap .proIndex2 .proType{
  font-size: 15px;
  color: #992d00;
  font-weight: 800;
  line-height: 20px;
}
.proWrap .proIndex2 .proTypePrice{
  font-size: 17px;
  font-weight: 600;
}

/* 사이즈 선택 */
#size{
  margin-top: 28px;
}
#size .sizeClick{
  margin: 15px 0;
}
#size .sizeGroup{
  display: flex;
  gap: 5px;
}
#size .sizeBtn{
  padding: 13px 28px;
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #111;
}
#size .sizeBtn:hover{
  border-color: #111;
}
#size .sizeClick > ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#size{}
#size{}
#size{}

/* 주문 버튼 */
#orderBtn{
  margin: 15px 0;
}
#orderBtn .buyBtn{
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background: #111;
  border: none;
  font-weight: 800;
}
#orderBtn .buyBtn:hover{
  background: #707072;
}

#orderBtn .buyBtn2{
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background: #fff;
  color: #111;
  font-weight: 800;
  border-color: #cacacb;
}
#orderBtn .buyBtn2:hover{
  border-color: #111;
}
#orderBtn ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#orderBtn{}
#orderBtn{}
#orderBtn{}
#orderBtn{}


/* 상품 추가 설명 부분 */
#plusInfo .pInfo{
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
}
#plusInfo ul{
  list-style: inside;
}
#plusInfo ul li{
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;
}
#plusInfo{}


/* 상품 상세 모달 팝업 부분 */
#modalPop{
  margin: 15px 0;
}
#modalPop button{
  border: none;
  background: transparent;
  padding-bottom: 1px;
  border-bottom: 1px solid #111;
  font-size: 13px;
  font-weight: 600;
}
#modalPop button:hover{
  color: #707072;
}
#modalPop{}
#modalPop{}
#modalPop{}
#modalPop{}
#modalPop{}

/* 주문 상세 설명 아코디언 부분 */
#accInfo{
  margin-top: 35px;
}
#accInfo .accordion-item:first-of-type{
  border: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}
#accInfo .accordion-item:last-of-type .accordion-button.collapsed{
  border: none;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  padding: 20px 5px;
  font-size: 15px;
  font-weight: 700;
}
#accInfo .accordion-item:first-of-type .accordion-button{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 20px 5px;
  font-size: 15px;
  font-weight: 700;
}
#accInfo .accordion-item:last-of-type{
  border: none;
}
#accInfo .accordion-button:not(.collapsed){
  color: #111;
  background: transparent;
  padding: 20px 5px;
  font-size: 15px;
  font-weight: 700;
}
#accInfo .accordion-button:focus{
  box-shadow: none;
}
#accInfo .accordion-item:last-of-type .accordion-collapse{
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}
#accInfo .boxGroup > ul > li{
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
}
#accInfo .boxGroup > ul > li strong{
  text-decoration: underline;
  font-weight: 800;
}
#accInfo .sizeBody{
  font-size: 15px;
  font-weight: 500;
}
#accInfo{}
#accInfo{}



/* 상품 상세페이지 부분 */
#proImgInfo{}
#proImgInfo{}
#proImgInfo {}
#proImgInfo{}
#proImgInfo{}
#proImgInfo{}
#proImgInfo{}
#proImgInfo{}
#proImgInfo{}







/* 푸터 부분 */
#footer{
  background: #111;
  margin-top: 100px;
}
#footer .footerWrap{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 35px 0 20px 0;
}
#footer .d-flex{
  width: 100%;
  text-align: left;
}
#footer .footerUtill{
  padding-bottom: 12px;
  border-bottom: 1px solid #7e7e7e;
}
#footer .newInfo{
  width: 70%;
}
#footer .newInfo li{
  width: 36%;
}
#footer .newInfo .col01{
  gap: 13px;
}

#footer .newInfo .col01 .infoMa_Tit{
  display: block;
  color: #fff;
  font-size: 15px;
}
#footer .newInfo .col01 .infoSub_Tit{
  display: block;
  color: #7e7e7e;
  font-size: 13px;
}
#footer .newInfo .col01 .infoSub_Tit:hover{
  color: #fff;
}
#footer .newInfo{}

#footer .info01{
  gap: 30px;
}
#footer .info01 .kr svg{
  margin-right: 10px;
}
#footer .info01 .kr{
  color: #fff;
}
#footer .info01 li{
  font-size: 13px;
  color: #7e7e7e;
}
#footer .info02{
  gap: 20px;
}
footer .info02 .foNav{
  color: #7e7e7e;
}
footer .info02 .foNav:hover{
  color: #fff;
}
footer .info02 .foNav2{
  color: #fff;
}
#footer .info02 li{
  font-size: 13px;
}
#footer .snsFlex{
  gap: 20px;
}
#footer .snsFlex li svg{
  transition: 0.6s;
}
#footer .snsFlex li:hover svg{
  fill: #fff;
}
#footer .callGroup{
  gap: 20px;
}
#footer .callGroup .nikeInfo li{
  color: #7e7e7e;
}
#footer .callGroup .nikeInfo li strong{
  color: #fff;
  text-decoration: underline;
  opacity: 0.7;
}
#footer .callGroup .nikeInfo li strong:hover{
  opacity: 1;
}
#footer .footerInfo03 .nikeInfo{
  margin-top: 20px;
  gap: 8px;
}
#footer .footerInfo03 .nikeInfo li{
  font-size: 13px;
  line-height: 22px;
}
#footer{}
